<!doctype html>
<html>
  <head>
    <title>Oh Sheet!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <% for(var i=0; i < 20; i++) { %>
      <% for(var j=0; j < 10; j++) { %>
        <input type="text" id="<%= i+"|"+j %>">
      <% } %>
    <% } %>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
