<!doctype html>
<html>
  <head>
    <title>Oh Sheet! </title>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/handsontable.full.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/handsontable.bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/stylesheets/handsontable.full.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>

    <div class="page-header">
      <h1>Oh Sheet! <small>Online collaborative spreadsheet editor</small></h1>
    </div>

    <div id="sheet" class="dataTable"></div>

    <script>
      var data = [];
      var cells = <%- JSON.stringify(sheet) %>;

      for(cell in cells) {
        data[cell.row][cell.col] = cell.data;
      }

      var settings = {
        startRows: 30,
        startCols: 30,
        minSpareCols: 1,
        minSpareRows: 1,
        rowHeaders: true,
        colHeaders: true,
        contextMenu: true
      };

      if(data.length != 0) {
        settings[data] = data;
      }

      var container = document.querySelector('#sheet');

      var table = new Handsontable(container, settings);
    </script>
  </body>
</html>
